@using SE_Configurer.Data

<h2>@Trackable.Title</h2>

<td>
    @string.Join(", ", Trackable.Items.Select(x => x).ToArray())
</td>

@code {
    [Parameter]
    public Trackable Trackable { get; set; }
}