td{
    border: 1px solid black;
}

.title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    float: left;
}

.items {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    float: right;
}